<div ng-transclude>
    <table>
        <thead>
        <th ng-click="$ctrl.parent.sort('description')">Description</th>
        <th>Done</th>
        <th ng-click="$ctrl.parent.sort('deadline')">Deadline</th>
        <th>Actions</th>
        </thead>
        <tr ng-repeat="item in $ctrl.parent.items
            | orderBy : $ctrl.parent.sortField : $ctrl.parent.sortOrder
            | filter : $ctrl.parent.search
            | startFrom : $ctrl.parent.startingItem()
            | limitTo : $ctrl.parent.itemsPerPage"
            ng-class="$ctrl.parent.defineClass(item.deadline)">
            <td>
                <input ng-model="item.description" ng-show="item.editing">
                <span ng-show="!item.editing">{{item.description}}</span>
            </td>
            <td>
                <input type="checkbox" ng-model="item.done">
            </td>
            <td>
                <input type="date" ng-model="item.deadline" ng-show="item.editing">
                <span ng-show="!item.editing">{{item.deadline | date : 'MM-dd-yyyy'}}</span>
            </td>
            <td>
                <button ng-click="$ctrl.parent.editItem(item)">
                    Edit
                </button>
                <button ng-click="$ctrl.parent.deleteItem(item)">
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>